.nav {
  padding: 8px 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -2px rgba(0,0,0,0.1);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;   /* important so padding doesn't overflow width */
}

.navleft {
  flex: 0 1 auto;
}

.navright {
  flex: 1 1 auto;           /* allow it to grow and shrink */
  min-width: 0;             /* allow shrinking inside flex, prevents overflow */
  text-align: right;
  white-space: normal;      /* allow wrapping instead of cutting off */
}

main {
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

main h1{
  color: #ffffff;
  font-size: 1.5rem;
}

.menu-icon {
  height: 25px;
  width: auto;
  vertical-align: middle;
  margin-right: 12px;
}
.apple-logo {
  height: 25px;
  width: auto;
  vertical-align: middle;
  margin-right: 12px;
}