nav {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav h1 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 10vh 0 10vh 0;
}
.top h1{
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.top h2{
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.top p{
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    max-width: 600px;
}

.profile{
    background-color: #fbf9f9e4;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 10vh;
    padding-top: 5vh;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

h3{
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.onboarding-btn{
    background-color: #c0c1d1;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
}   