nav {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav h1 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 10vh 0 10vh 0;
}
.top h1{
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.top h2{
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    color: rgba(77, 89, 101, 0.741);
}

.top p{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    max-width: 600px;
    color: rgba(112, 128, 144, 0.741);
}

.profile{
    background-color: #f9f9fd;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 500;

}

.Employeedetails{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2vh;
}

.field{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    font-weight: 500;
}

.field select {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 5px 4px;
  font-size: 1rem;
  color: #000;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

  outline: none;

  cursor: pointer;
}

.field select:hover {
  border-color: #bbb;
}

.field select:focus {
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}


h3{
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.onboarding-btn{
    background-color: #c0c1d1;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
}   

.top{
    background-color: rgb(255, 255, 255);
}