:root {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1, h2 {
  margin: 0;      
  padding: 0;    
  line-height: 1.1; /* tighten the text vertically */
}

h1 {
  font-weight: 700;
  font-size: 1.0rem;
  letter-spacing: -0.3px;
  color: #000000;
}

h2 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #000000;
  letter-spacing: -0.1px;
}
